<html>
<body>

<%= render :partial => "layouts/aft_signedin" %>
<%= render :partial => "layouts/last" %>
<div  style="position:absolute; left:150px; top:150px; width:px; height:px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<div  style="position:absolute; left:200px; top:80px; width:px; height:px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" ></div>
 
<h2><%= link_to "My Profile", edit_member_registration_path, :method => :get %></h2>
<h2><%= link_to "Create Event",  myevents_event_path %></h2>
<h2><%= link_to "My Events",  myevents_adminindex_path %></h2>
<h2><%= link_to "My Contacts",  contacts_path, :method => :get %></h2>

<img border="4" alt="" src="/images/cake.jpg" style="position:absolute; width:300px; height:250px; left:px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);">

</div>
</body>
</html>
