<HTML><HEAD><meta http-equiv="content-type" content="text/html; charset=utf-8"><meta http-equiv="imagetoolbar" content="no"><link href="Resources/axurerppage.css" type="text/css" rel="stylesheet"></HEAD><BODY>
<script type="text/javascript">
function InitializeSubmenu(submenucontainerid, tablecellroid, tablecellid, fname) { 
var s = "";
s = s + "function " + fname + "() { ";
s = s + "document.getElementById(submenucontainerid).style.visibility='';";
s = s + "BringToFront(submenucontainerid);";
s = s + "}";
if ((index = navigator.userAgent.indexOf("MSIE")) >= 0)
s = s + "document.getElementById('" + tablecellid + "').attachEvent(\"onmouseover\", " + fname + ");";
else
s = s + "document.getElementById('" + tablecellid + "').addEventListener(\"mouseover\", " + fname + ", true);";
s = s + "document.getElementById(tablecellroid).onclick = function() {";
s = s + "if( document.createEvent ) {";
s = s + "var evObj = document.createEvent('MouseEvents');";
s = s + "evObj.initEvent( 'click', true, false );";
s = s + "document.getElementById(tablecellid).dispatchEvent(evObj);";
s = s + "} else if( document.createEventObject ) {";
s = s + "document.getElementById(tablecellid).fireEvent('onclick');";
s = s + "}";
s = s + "}";
eval(s);
}
</script>

<DIV id=u0 style="position:absolute; left:808px; top:842px; width:150px; height:24px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u0_rtf><span style=" font-family:'Arial'; color:#000000; font-size:21px;">4</span></DIV></DIV>
<span style="position:absolute; left:11px; top:442px; width:317px; height:50px">
<span id=ou1 style="position:absolute;left:0px;top:0px;width:317px;height:50px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u1.png',sizingMethod='scale');
"><img style="width:317px; height:50px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u1.png" border="0" alt=""></span>
</span>
<IMG id=u1 src="Resources/transparent.gif" style="position:absolute; left:11px; top:442px; width:317px; height:50px"   >

<DIV id=u1ann style="font-size:1px; position:absolute; left:319px; top:438px; width:1px; height:1px; overflow:visible"></DIV>

<span style="position:absolute; left:340px; top:442px; width:312px; height:50px">
<span id=ou2 style="position:absolute;left:0px;top:0px;width:312px;height:50px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u2.png',sizingMethod='scale');
"><img style="width:312px; height:50px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u2.png" border="0" alt=""></span>
</span>
<IMG id=u2 src="Resources/transparent.gif" style="position:absolute; left:340px; top:442px; width:312px; height:50px"   >

<DIV id=u2ann style="font-size:1px; position:absolute; left:643px; top:438px; width:1px; height:1px; overflow:visible"></DIV>

<span style="position:absolute; left:663px; top:443px; width:312px; height:50px">
<span id=ou3 style="position:absolute;left:0px;top:0px;width:312px;height:50px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u3.png',sizingMethod='scale');
"><img style="width:312px; height:50px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u3.png" border="0" alt=""></span>
</span>
<IMG id=u3 src="Resources/transparent.gif" style="position:absolute; left:663px; top:443px; width:312px; height:50px"   >

<DIV id=u3ann style="font-size:1px; position:absolute; left:966px; top:439px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=ou4 style="position:absolute; left:660px; top:768px; width:312px; height:194px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:320px; height:202px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u4.png',sizingMethod='scale');
"><img style="width:320px; height:202px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u4.png" border="0" alt=""></span>

</DIV>
<DIV id=u4container style="position:absolute; left:660px; top:768px; width:312px; height:194px;; overflow:visible;">

<DIV id=u5 style="position:absolute; left:2px; top:88.5px; width:307px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u5_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u4 src="Resources/transparent.gif" style="position:absolute; left:660px; top:768px; width:311px; height:193px"  >

<span style="position:absolute; left:677px; top:820px; width:30px; height:30px">
<span id=ou6 style="position:absolute;left:0px;top:0px;width:30px;height:30px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u6.png',sizingMethod='scale');
"><img style="width:30px; height:30px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u6.png" border="0" alt=""></span>
</span>
<IMG id=u6 src="Resources/transparent.gif" style="position:absolute; left:677px; top:1100px; width:30px; height:30px"   >

<span style="position:absolute; left:677px; top:865px; width:30px; height:30px">
<span id=ou7 style="position:absolute;left:0px;top:0px;width:30px;height:30px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u7.png',sizingMethod='scale');
"><img style="width:30px; height:30px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u7.png" border="0" alt=""></span>
</span>
<IMG id=u7 src="Resources/transparent.gif" style="position:absolute; left:677px; top:865px; width:30px; height:30px"   >

<DIV id=u8 style="position:absolute; left:715px; top:873px; width:234px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u8_rtf><span style=" font-family:'Arial'; color:#006699; font-size:13px;"><b>Become a fan on Facebook</b></span></DIV></DIV>
<DIV id=u9 style="position:absolute; left:714px; top:829px; width:215px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u9_rtf><span style=" font-family:'Arial'; color:#006699; font-size:13px;"><b>Follow us in Twitter</b></span></DIV></DIV>
<DIV id=ou10 style="position:absolute; left:0px; top:125px; width:981px; height:301px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:989px; height:309px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u10.png',sizingMethod='scale');
"><img style="width:989px; height:309px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u10.png" border="0" alt=""></span>

</DIV>
<DIV id=u10container style="position:absolute; left:0px; top:125px; width:981px; height:301px;; overflow:visible;">

<DIV id=u11 style="position:absolute; left:2px; top:142px; width:976px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u11_rtf><div style="text-align:center"><span style=" color:#444444; font-size:13px;"><b>PROMO AREA</b></span></div></DIV></DIV>
</DIV>
<IMG id=u10 src="Resources/transparent.gif" style="position:absolute; left:0px; top:125px; width:980px; height:300px"  >

<DIV id=ou12 style="position:absolute; left:0px; top:0px; width:981px; height:81px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:989px; height:89px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u12.png',sizingMethod='scale');
"><img style="width:989px; height:89px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u12.png" border="0" alt=""></span>

</DIV>
<DIV id=u12container style="position:absolute; left:0px; top:0px; width:1100px; height:81px;; overflow:visible;">

<DIV id=u13 style="position:absolute; left:2px; top:32px; width:976px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u13_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u12 src="Resources/transparent.gif" style="position:absolute; left:0px; top:0px; width:980px; height:80px"  >

<DIV id=ou14 style="position:absolute; left:13px; top:11px; width:154px; height:60px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:162px; height:68px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u14.png',sizingMethod='scale');
"><img style="width:162px; height:68px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u14.png" border="0" alt=""></span>

</DIV>
<DIV id=u14container style="position:absolute; left:13px; top:11px; width:154px; height:60px;; overflow:visible;">

<DIV id=u15 style="position:absolute; left:2px; top:21.5px; width:149px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u15_rtf><div style="text-align:center"><span style=" font-family:'Arial'; color:#949494; font-size:13px;"><b>LOGO</b></span></div></DIV></DIV>
</DIV>
<IMG id=u14 src="Resources/transparent.gif" style="position:absolute; left:13px; top:11px; width:153px; height:59px"  >

<DIV id=u14ann style="font-size:1px; position:absolute; left:157px; top:7px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=ou16 style="position:absolute; left:0px; top:82px; width:981px; height:39px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:989px; height:47px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u16.png',sizingMethod='scale');
"><img style="width:989px; height:47px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u16.png" border="0" alt=""></span>

</DIV>
<DIV id=u16container style="position:absolute; left:0px; top:82px; width:981px; height:39px;; overflow:visible;">

<DIV id=u17 style="position:absolute; left:2px; top:11px; width:976px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u17_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u16 src="Resources/transparent.gif" style="position:absolute; left:0px; top:82px; width:980px; height:38px"  >

<DIV id=u18 style="position:absolute; left:16px; top:92px; width:43px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u18_rtf><span style=" font-family:'Arial'; color:#996600; font-size:15px;"><b><%= link_to "Home", root_path %> </b></span></DIV></DIV>
<DIV id=u18ann style="font-size:1px; position:absolute; left:50px; top:88px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u19 style="position:absolute; left:72px; top:91px; width:54px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u19_rtf><span style=" color:#996600; font-size:15px;"><b><%= link_to "About", home_aboutus_path %></b></span></DIV></DIV>
<DIV id=u19ann style="font-size:1px; position:absolute; left:117px; top:87px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u20 style="position:absolute; left:254px; top:93px; width:107px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u20_rtf><span style=" color:#996600; font-size:15px;"><b><%= link_to "Create Events", new_member_session_path, :method => :get %></b></span></DIV></DIV>
<DIV id=u20ann style="font-size:1px; position:absolute; left:352px; top:89px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u21 style="position:absolute; left:137px; top:92px; width:112px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u21_rtf><span style=" color:#996600; font-size:15px;"><b><%= link_to "Organisations", home_orgshow_path, :method => :get %></b></span></DIV></DIV>
<DIV id=u21ann style="font-size:1px; position:absolute; left:240px; top:88px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u22 style="position:absolute; left:926px; top:8px; width:50px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u22_rtf><span style=" color:#434343; font-size:13px;"><%= link_to "Login", new_member_session_path, :method => :get %></span></DIV></DIV>
<DIV id=u22ann style="font-size:1px; position:absolute; left:967px; top:4px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u23 style="position:absolute; left:861px; top:8px; width:68px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u23_rtf><span style=" color:#434343; font-size:13px;"><%= link_to "Register", new_member_registration_path, :method => :get %><b></b></span></DIV></DIV>
<DIV id=u23ann style="font-size:1px; position:absolute; left:920px; top:4px; width:1px; height:1px; overflow:visible"></DIV>

<span style="position:absolute; left:898px; top:90px; width:68px; height:23px">
<span id=ou24 style="position:absolute;left:0px;top:0px;width:68px;height:23px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u24.png',sizingMethod='scale');
"><img style="width:68px; height:23px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u24.png" border="0" alt=""></span>
</span>
<IMG id=u24 src="Resources/transparent.gif" style="position:absolute; left:898px; top:90px; width:68px; height:23px"   >

<DIV id=u25 style="position:absolute; left:915px; top:92px; width:52px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u25_rtf><span style=" font-family:'Arial'; color:#F2F2F2; font-size:15px;"><b>Find</b></span></DIV></DIV>
<span style="position:absolute; left:121px; top:92px; width:5px; height:18px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u26.png',sizingMethod='scale');
"><img style="width:5px; height:18px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u26.png" border="0" alt=""></span>

<IMG id=u26 src="Resources/transparent.gif" style="position:absolute; left:120.5px; top:92px; width:2px; height:15px">

<span style="position:absolute; left:62px; top:92px; width:5px; height:18px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u27.png',sizingMethod='scale');
"><img style="width:5px; height:18px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u27.png" border="0" alt=""></span>

<IMG id=u27 src="Resources/transparent.gif" style="position:absolute; left:61.5px; top:92px; width:2px; height:15px">

<span style="position:absolute; left:243px; top:93px; width:5px; height:18px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u28.png',sizingMethod='scale');
"><img style="width:5px; height:18px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u28.png" border="0" alt=""></span>

<IMG id=u28 src="Resources/transparent.gif" style="position:absolute; left:242.5px; top:93px; width:2px; height:15px">

<span style="position:absolute; left:366px; top:92px; width:5px; height:18px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u29.png',sizingMethod='scale');
"><img style="width:5px; height:18px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u29.png" border="0" alt=""></span>

<IMG id=u29 src="Resources/transparent.gif" style="position:absolute; left:365.5px; top:92px; width:2px; height:15px">

<INPUT id=u30  type=text value="" style="position:absolute; left:738px; top:90px; width:152px; height:23px; ; background-color:#FFFFFF; text-align: left ; font-family:'Arial'; font-size: 13px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   >

<span style="position:absolute; left:0px; top:1004px; width:983px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u31.png',sizingMethod='scale');
"><img style="width:983px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u31.png" border="0" alt=""></span>

<IMG id=u31 src="Resources/transparent.gif" style="position:absolute; left:0px; top:1003.5px; width:980px; height:2px">

<DIV id=u32 style="position:absolute; left:312px; top:1051px; width:141px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u32_rtf><span style=" font-family:'Arial'; color:#006699; font-size:13px;"><u>About Share My Cake</u></span></DIV></DIV>
<DIV id=u33 style="position:absolute; left:309px; top:1020px; width:143px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u33_rtf><span style=" font-family:'Arial'; color:#515151; font-size:15px;"><b>Share My Cake</b></span></DIV></DIV>
<DIV id=ou34 style="position:absolute; left:10px; top:1020px; width:143px; height:75px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:151px; height:83px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u34.png',sizingMethod='scale');
"><img style="width:151px; height:83px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u34.png" border="0" alt=""></span>

</DIV>
<DIV id=u34container style="position:absolute; left:10px; top:1020px; width:143px; height:75px;; overflow:visible;">

<DIV id=u35 style="position:absolute; left:2px; top:29px; width:138px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u35_rtf><div style="text-align:center"><span style=" color:#000000; font-size:13px;"><b>LOGO</b></span></div></DIV></DIV>
</DIV>
<IMG id=u34 src="Resources/transparent.gif" style="position:absolute; left:10px; top:1020px; width:142px; height:74px"  >

<DIV id=u36 style="position:absolute; left:311px; top:1079px; width:141px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u36_rtf><span style=" font-family:'Arial'; color:#006699; font-size:13px;"><u>Contact Us</u></span></DIV></DIV>
<DIV id=u37 style="position:absolute; left:312px; top:1108px; width:141px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u37_rtf><span style=" color:#006699; font-size:13px;"><u>How it works</u></span></DIV></DIV>
<DIV id=u38 style="position:absolute; left:490px; top:1019px; width:143px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u38_rtf><span style=" font-family:'Arial'; color:#515151; font-size:15px;"><b>Policies</b></span></DIV></DIV>
<DIV id=u39 style="position:absolute; left:491px; top:1049px; width:141px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u39_rtf><span style=" font-family:'Arial'; color:#006699; font-size:13px;"><u>Terms of Service</u></span></DIV></DIV>
<DIV id=u40 style="position:absolute; left:490px; top:1076px; width:141px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u40_rtf><span style=" color:#006699; font-size:13px;"><u>Privacy</u></span></DIV></DIV>
<DIV id=u41 style="position:absolute; left:387px; top:1149px; width:150px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u41_rtf>&nbsp;</DIV></DIV>
<DIV id=u42 style="position:absolute; left:639px; top:1017px; width:143px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u42_rtf><span style=" font-family:'Arial'; color:#515151; font-size:15px;"><b>Organisations</b></span></DIV></DIV>
<DIV id=u43 style="position:absolute; left:638px; top:1047px; width:141px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u43_rtf><span style=" font-family:'Arial'; color:#006699; font-size:13px;"><u>List of&nbsp; organisations</u></span></DIV></DIV>
<DIV id=u44 style="position:absolute; left:641px; top:1074px; width:141px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u44_rtf>&nbsp;</DIV></DIV>
<DIV id=u45 style="position:absolute; left:797px; top:1018px; width:143px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u45_rtf><span style=" font-family:'Arial'; color:#515151; font-size:15px;"><b>Others</b></span></DIV></DIV>
<DIV id=u46 style="position:absolute; left:796px; top:1048px; width:141px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u46_rtf><span style=" font-family:'Arial'; color:#006699; font-size:13px;"><u>News</u></span></DIV></DIV>
<DIV id=u47 style="position:absolute; left:796px; top:1076px; width:141px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u47_rtf><span style=" font-family:'Arial'; color:#006699; font-size:13px;"><u>Blog</u></span></DIV></DIV>
<DIV id=u48 style="position:absolute; left:796px; top:1105px; width:141px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u48_rtf><span style=" font-family:'Arial'; color:#006699; font-size:13px;"><u>Register</u></span></DIV></DIV>
<DIV id=ou49 style="position:absolute; left:660px; top:767px; width:312px; height:40px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:320px; height:48px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u49.png',sizingMethod='scale');
"><img style="width:320px; height:48px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u49.png" border="0" alt=""></span>

</DIV>
<DIV id=u49container style="position:absolute; left:660px; top:767px; width:312px; height:40px;; overflow:visible;">

<DIV id=u50 style="position:absolute; left:2px; top:11.5px; width:307px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u50_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u49 src="Resources/transparent.gif" style="position:absolute; left:660px; top:767px; width:311px; height:39px"  >

<DIV id=u51 style="position:absolute; left:678px; top:779px; width:198px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u51_rtf><span style=" font-family:'Arial'; color:#333333; font-size:16px;"><b>Follow Sharemycake</b></span></DIV></DIV>
<DIV id=ou52 style="position:absolute; left:10px; top:769px; width:627px; height:192px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:635px; height:200px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u52.png',sizingMethod='scale');
"><img style="width:635px; height:200px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u52.png" border="0" alt=""></span>

</DIV>
<DIV id=u52container style="position:absolute; left:10px; top:769px; width:627px; height:192px;; overflow:visible;">

<DIV id=u53 style="position:absolute; left:2px; top:87.5px; width:622px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u53_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u52 src="Resources/transparent.gif" style="position:absolute; left:10px; top:769px; width:626px; height:191px"  >

<DIV id=ou54 style="position:absolute; left:10px; top:769px; width:627px; height:40px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:635px; height:48px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u54.png',sizingMethod='scale');
"><img style="width:635px; height:48px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u54.png" border="0" alt=""></span>

</DIV>
<DIV id=u54container style="position:absolute; left:10px; top:769px; width:627px; height:40px;; overflow:visible;">

<DIV id=u55 style="position:absolute; left:2px; top:11.5px; width:622px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u55_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u54 src="Resources/transparent.gif" style="position:absolute; left:10px; top:769px; width:626px; height:39px"  >

<DIV id=u56 style="position:absolute; left:23px; top:781px; width:198px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u56_rtf><span style=" font-family:'Arial'; color:#333333; font-size:16px;"><b>Organisations</b></span></DIV></DIV>
<DIV id=u57 style="position:absolute; left:21px; top:822.8px; width:610px; height:48px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u57_rtf><span style=" font-family:'Arial'; color:#333333; font-size:13px;">Lorem ipsum dolo sit amet consectitut, lorem ipsum dolor Lorem ipsum dolo sit amet consectitut, lorem ipsum dolorLorem ipsum dolo sit amet consec i Lore</span></DIV></DIV>
<DIV id=ou58 style="position:absolute; left:10px; top:510px; width:963px; height:244px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:971px; height:252px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u58.png',sizingMethod='scale');
"><img style="width:971px; height:252px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u58.png" border="0" alt=""></span>

</DIV>
<DIV id=u58container style="position:absolute; left:10px; top:510px; width:963px; height:244px;; overflow:visible;">

<DIV id=u59 style="position:absolute; left:2px; top:113.5px; width:958px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u59_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u58 src="Resources/transparent.gif" style="position:absolute; left:10px; top:510px; width:962px; height:243px"  >

<DIV id=u60 style="position:absolute; left:24px; top:519px; width:284px; height:22px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u60_rtf><span style=" font-family:'Arial'; color:#444444; font-size:19px;"><b>How Sharemycake works</b></span></DIV></DIV>
<DIV id=ou61 style="position:absolute; left:28px; top:569px; width:193px; height:102px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:201px; height:110px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u61.png',sizingMethod='scale');
"><img style="width:201px; height:110px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u61.png" border="0" alt=""></span>

</DIV>
<DIV id=u61container style="position:absolute; left:28px; top:569px; width:193px; height:102px;; overflow:visible;">

<DIV id=u62 style="position:absolute; left:2px; top:42.5px; width:188px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u62_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u61 src="Resources/transparent.gif" style="position:absolute; left:28px; top:569px; width:192px; height:101px"  >

<DIV id=u63 style="position:absolute; left:32px; top:689px; width:80px; height:24px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u63_rtf><span style=" font-family:'Arial'; color:#000000; font-size:21px;">1</span></DIV></DIV>
<DIV id=u64 style="position:absolute; left:49px; top:689px; width:190px; height:32px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u64_rtf><span style=" color:#333333; font-size:13px;"><b>Create a FREE account in Share My Cake</b></span></DIV></DIV>
<DIV id=ou65 style="position:absolute; left:277px; top:569px; width:193px; height:102px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:201px; height:110px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u61.png',sizingMethod='scale');
"><img style="width:201px; height:110px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u61.png" border="0" alt=""></span>

</DIV>
<DIV id=u65container style="position:absolute; left:277px; top:569px; width:193px; height:102px;; overflow:visible;">

<DIV id=u66 style="position:absolute; left:2px; top:42.5px; width:188px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u66_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u65 src="Resources/transparent.gif" style="position:absolute; left:277px; top:569px; width:192px; height:101px"  >

<DIV id=u67 style="position:absolute; left:281px; top:684px; width:150px; height:24px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u67_rtf><span style=" font-family:'Arial'; color:#000000; font-size:21px;">2</span></DIV></DIV>
<DIV id=u68 style="position:absolute; left:298px; top:687px; width:162px; height:32px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u68_rtf><span style=" color:#333333; font-size:13px;"><b>Create an event in easy simple steps</b></span></DIV></DIV>
<DIV id=ou69 style="position:absolute; left:515px; top:568px; width:193px; height:102px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:201px; height:110px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u61.png',sizingMethod='scale');
"><img style="width:201px; height:110px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u61.png" border="0" alt=""></span>

</DIV>
<DIV id=u69container style="position:absolute; left:515px; top:568px; width:193px; height:102px;; overflow:visible;">

<DIV id=u70 style="position:absolute; left:2px; top:42.5px; width:188px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u70_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u69 src="Resources/transparent.gif" style="position:absolute; left:515px; top:568px; width:192px; height:101px"  >

<DIV id=u71 style="position:absolute; left:519px; top:682px; width:150px; height:24px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u71_rtf><span style=" font-family:'Arial'; color:#000000; font-size:21px;">3</span></DIV></DIV>
<DIV id=u72 style="position:absolute; left:536px; top:685px; width:174px; height:48px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u72_rtf><span style=" color:#333333; font-size:13px;"><b>Choose any social cause you want to participate and help them</b></span></DIV></DIV>
<DIV id=ou73 style="position:absolute; left:744px; top:568px; width:193px; height:102px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:201px; height:110px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u61.png',sizingMethod='scale');
"><img style="width:201px; height:110px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u61.png" border="0" alt=""></span>

</DIV>
<DIV id=u73container style="position:absolute; left:744px; top:568px; width:193px; height:102px;; overflow:visible;">

<DIV id=u74 style="position:absolute; left:2px; top:42.5px; width:188px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u74_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u73 src="Resources/transparent.gif" style="position:absolute; left:744px; top:568px; width:192px; height:101px"  >

<DIV id=u75 style="position:absolute; left:748px; top:680px; width:150px; height:24px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u75_rtf><span style=" font-family:'Arial'; color:#000000; font-size:21px;">4</span></DIV></DIV>
<DIV id=u76 style="position:absolute; left:765px; top:683px; width:183px; height:32px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u76_rtf><span style=" color:#333333; font-size:13px;"><b>Celebrate any events !!! ofcourse with different way</b></span></DIV></DIV>
<span style="position:absolute; left:19px; top:551px; width:934px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u77.png',sizingMethod='scale');
"><img style="width:934px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u77.png" border="0" alt=""></span>

<IMG id=u77 src="Resources/transparent.gif" style="position:absolute; left:19px; top:550.5px; width:931px; height:2px">

<span style="position:absolute; left:23px; top:741px; width:940px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u78.png',sizingMethod='scale');
"><img style="width:940px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u78.png" border="0" alt=""></span>

<IMG id=u78 src="Resources/transparent.gif" style="position:absolute; left:23px; top:740.5px; width:937px; height:2px">

<span style="position:absolute; left:46px; top:868px; width:69px; height:54px">
<IMG id=ou79 src="/images/Home_files/u79.gif" style="position:absolute;left:0px;top:0px;width:69px;height:54px">
</span>
<IMG id=u79 src="Resources/transparent.gif" style="position:absolute; left:46px; top:868px; width:69px; height:54px"   >

<span style="position:absolute; left:136px; top:869px; width:89px; height:49px">
<IMG id=ou80 src="/images/Home_files/u80.jpg" style="position:absolute;left:0px;top:0px;width:89px;height:49px">
</span>
<IMG id=u80 src="Resources/transparent.gif" style="position:absolute; left:136px; top:869px; width:89px; height:49px"   >

<span style="position:absolute; left:246px; top:871px; width:52px; height:57px">
<IMG id=ou81 src="/images/Home_files/u81.jpg" style="position:absolute;left:0px;top:0px;width:52px;height:57px">
</span>
<IMG id=u81 src="Resources/transparent.gif" style="position:absolute; left:246px; top:871px; width:52px; height:57px"   >

<span style="position:absolute; left:316px; top:867px; width:69px; height:54px">
<IMG id=ou82 src="/images/Home_files/u82.gif" style="position:absolute;left:0px;top:0px;width:69px;height:54px">
</span>
<IMG id=u82 src="Resources/transparent.gif" style="position:absolute; left:316px; top:867px; width:69px; height:54px"   >

<span style="position:absolute; left:406px; top:868px; width:89px; height:49px">
<IMG id=ou83 src="/images/Home_files/u83.jpg" style="position:absolute;left:0px;top:0px;width:89px;height:49px">
</span>
<IMG id=u83 src="Resources/transparent.gif" style="position:absolute; left:406px; top:868px; width:89px; height:49px"   >

<DIV id=u84 style="position:absolute; left:475px; top:934px; width:156px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u84_rtf><span style=" font-family:'Arial'; color:#006699; font-size:13px;"><b><%= link_to "View all organisations", home_orgshow_path, :method => :get %></b></span></DIV></DIV><SCRIPT src="Resources/axurerp_pagescript.js"></SCRIPT>
<SCRIPT src="/images/Home_files/axurerp_pagespecificscript.js"></SCRIPT></BODY></HTML>
