<%= render :partial => "layouts/aft_signedin" %>
<%= render :partial => "layouts/last" %>

<div  style="position:absolute; left:150px; top:150px; width:px; height:px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >

<%= form_for :@a, :url=>{:action=>'send_invite', :controller=>'invitations'} do |f| %>
  <% if @a.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@a.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
      <% @a.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
     <%= f.label :Message %><br />
<%= text_area :message,"", :value=>session[:value][:message] %>
  </div>
  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>

  <td><%=f.hidden_field :myevent_id, :value=> @a.id %></td>
  <div class="field">
    <%= f.label :email %><br />
    <%#= f.text_field :email %>
    <%#= session[:value][:message] %>

 
<%= f.select :email, options_for_select(Contact.all.collect {|p| [p.email]}, {:prompt => 'select email'}) %>

  </div>
  <div class="actions">
    <%= f.submit 'Send' %>
  </div>
<% end %>
