<p id="notice"><%= notice %></p>

<p>
  <b>Myevent:</b>
  <%= @invitation.myevent_id %>
</p>

<p>
  <b>Firstname:</b>
  <%= @invitation.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @invitation.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @invitation.email %>
</p>


<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
