
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

<%= render :partial => "/layouts/first" %>

<DIV id=u23 style="position:absolute; left:244px; top:209px; width:258px; height:22px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u23_rtf><span style=" font-family:'Arial'; color:#444444; font-size:19px;">Login to ShareMyCake</span></DIV></DIV>
<DIV id=ou24 style="position:absolute; left:211px; top:287px; width:495px; height:246px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:503px; height:254px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Login_files/u24.png',sizingMethod='scale');
"><img style="width:503px; height:254px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Login_files/u24.png" border="0" alt=""></span>

</DIV>
<DIV id=u24container style="position:absolute; left:211px; top:287px; width:495px; height:246px;; overflow:visible;">

<DIV id=u25 style="position:absolute; left:2px; top:114.5px; width:490px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u25_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u24 src="Resources/transparent.gif" style="position:absolute; left:211px; top:287px; width:494px; height:245px"  >

<DIV id=u26 style="position:absolute; left:254px; top:301px; width:230px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u26_rtf><span style=" font-family:'Arial'; color:#444444; font-size:13px;"><b>E-mail address</b></span></DIV></DIV>
<DIV id=u27 style="position:absolute; left:254px; top:365px; width:150px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u27_rtf><span style=" font-family:'Arial'; color:#444444; font-size:13px;"><b>Password</b></span></DIV></DIV>
<div style="position:absolute; left:254px; top:322px; width:386px; height:40px; ; background-color:#FFFFFF; text-align: left ; font-family:'Verdana'; font-size: 24px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   ><%= f.email_field :email %></div></div>

<div style="position:absolute; left:254px; top:385px; width:386px; height:45px; ; background-color:#FFFFFF; text-align: left ; font-family:'Verdana'; font-size: 24px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   ><%= f.password_field :password %></div>

<DIV id=u30container style="position:absolute; left:256px; top:442px; width:220px; height:16px; ; ; text-align: left " >
<DIV id=u31 style="position:absolute; left:16px; top:0px; width:202px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u31_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">&nbsp; Remember me on this computer</span></DIV></DIV>
</DIV>
<DIV style="position:absolute; left:256px; top:442px; width:220px; height:16px; ; ; text-align: left " ><div id=u30 style="position:absolute; left:-3px; top:-2px;" type=checkbox value=checkbox  ><%= f.check_box :remember_me %></div></DIV>
<DIV id=u32 style="position:absolute; left:549px; top:496px; width:167px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u32_rtf><span style=" font-family:'Arial'; color:#006699; font-size:13px;"><u><b> <%= link_to "Forgot your password?", new_password_path(resource_name) %></b></u></span></DIV></DIV>
<DIV id=u32ann style="font-size:1px; position:absolute; left:707px; top:492px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u35container style="position:absolute; left:5px; top:5px; width:476px; height:41px;; overflow:visible;">




<DIV id=u58 style="position:absolute; left:276px; top:486px; width:48px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u58_rtf><span style=" font-family:'Arial'; color:#F2F2F2; font-size:15px;"></span>Login</DIV></DIV>
<DIV style="position:absolute; left:258px; top:482px; width:77px; height:30px; ; ; text-align: left ;"><%= f.submit "Login" %>
</DIV>


<DIV id=u59ann style="font-size:1px; position:absolute; left:326px; top:478px; width:1px; height:1px; overflow:visible"></DIV>
<% end %>
<SCRIPT src="Resources/axurerp_pagescript.js"></SCRIPT>
<SCRIPT src="Login_files/axurerp_pagespecificscript.js"></SCRIPT></BODY></HTML>
