<%=form_for :@myevent, :url=>{:action=>'event_history', :controller=>'invitations'} do |f|%>

 <%= f.label :Message %><br />
<%= text_area :message,"", :value=>session[:value][:message] %>

<td><%=f.hidden_field :mobile_number, :value=>session[:value][:mobile_number]%></td>
<td><%=f.hidden_field :title, :value=>session[:value][:title]%></td>
<td><%=f.hidden_field :date, :value=>session[:value][:date]%></td>
<td><%=f.hidden_field :time, :value=>session[:value][:time]%></td>
<td><%=f.hidden_field :venue, :value=>session[:value][:venue]%></td>
<td><%=f.hidden_field :description, :value=>session[:value][:description]%></td>
<td><%=f.hidden_field :cause, :value=>session[:value][:cause]%></td>
<td><%=f.hidden_field :organisation_name, :value=>session[:value][:organisation_name]%></td>
<td><%=f.hidden_field :share_amount, :value=>session[:value][:share_amount]%></td>
<td><%=f.hidden_field :message, :value=>session[:value][:message]%></td>



<%#= session[:value][:message] %>

 <%#= f.label :Email %>
<%#= f.select :email, options_for_select(Contact.all.collect {|p| [p.email]}, {:prompt => 'select email'}) %>


<%#= f.select (:email,[@email.each do |m| [m, m] end] , {:multiple => true}) %>

 <%#= f.text_field :email %>



<%#= f.select(:TYPE, [['Type A', 'Type A'],
                                  ['Type B', 'Type B'],
                                  ['Type C', 'Type C'],
                                  ['Type D', 'Type D'],
                                  ['Type E', 'Type E']
                                 ],{ :prompt => "Please select"},
                                   { :multiple => true, :size => 5 }
                                 ) %>

<%= f.submit'create event' %>

<% end %>

