<%= render :partial => "layouts/admin_signed" %>
<%= render :partial => "layouts/last" %>
<div  style="position:absolute; left:4px; top:150px; width:px; height:px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >

<h1>EVENTS</h1>

<table cellspacing="30">
  <tr>
    <th>Event Name</th>
    <th>Date</th>
    <th>Time</th>
    <th> For Cause</th>
    <th></th>
  </tr>

<% @myevent.each do |myevent| %>
  <tr>
    <td><%= myevent.title %></td>
    <td><%= myevent.date %></td>
    <td><%= myevent.time %></td>
    <td><%= myevent.cause %></td>
 
    
  </tr>
<% end %>

</table>

<%= link_to 'Back', '/home/admin_login' %>
<br />


