<%= render :partial => "layouts/aft_signedin" %>
<%= render :partial => "layouts/last" %>

<div  style="position:absolute; left:150px; top:150px; width:px; height:px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >

<h1>New myevent</h1>

<%=form_for :@myevent, :url=>{:action=>'template', :controller=>'myevents'} do |f|%>


   <%- @org.each do |ca| %>

   <%= f.radio_button ca.organisation_name, ca.id%><%= ca.organisation_name %>
 
   <% end %>
   

  <div class="field">
    <%= f.label :"Share Amount" %>  <br />
    <%= f.text_field :share_amount %> %
</div>
   <%=f.submit 'Continue'%> 
  

<% end %>

