
<DIV id=ou12 style="position:absolute; left:0px; top:0px; width:981px; height:81px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:989px; height:89px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u12.png',sizingMethod='scale');
"><img style="width:989px; height:89px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u12.png" border="0" alt=""></span>

</DIV>
<DIV id=u12container style="position:absolute; left:0px; top:0px; width:981px; height:81px;; overflow:visible;">

<DIV id=u25 style="position:absolute; left:915px; top:92px; width:52px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u25_rtf><span style=" font-family:'Arial'; color:#000000; font-size:25px;"><b><%= button_to "Find", new_member_session_path, :method => :get %></b></span></DIV></DIV>

<DIV id=ou14 style="position:absolute; left:13px; top:11px; width:154px; height:60px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:162px; height:68px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u14.png',sizingMethod='scale');
"><img style="width:162px; height:68px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/bdaygift.jpeg" border="0" alt=""></span>

</DIV>
<DIV id=u14container style="position:absolute; left:13px; top:11px; width:154px; height:60px;; overflow:visible;">
<IMG id=u14 src="Resources/transparent.gif" style="position:absolute; left:13px; top:11px; width:153px; height:59px"  >

<DIV id=u14ann style="font-size:1px; position:absolute; left:157px; top:7px; width:1px; height:1px; overflow:visible"></DIV>
<DIV id=u15 style="position:absolute; left:2px; top:21.5px; width:149px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >

</DIV>

<DIV id=u18 style="position:absolute; left:16px; top:92px; width:43px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u18_rtf><span style=" font-family:'Arial'; color:#996600; font-size:15px;"><b><%= link_to "Home", root_path %> </b></span></DIV></DIV>
<DIV id=u18ann style="font-size:1px; position:absolute; left:50px; top:88px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u19 style="position:absolute; left:72px; top:91px; width:54px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u19_rtf><span style=" color:#996600; font-size:15px;"><b><%= link_to "About", home_aboutus_path %></b></span></DIV></DIV>
<DIV id=u19ann style="font-size:1px; position:absolute; left:117px; top:87px; width:1px; height:1px; overflow:visible"></DIV>


<DIV id=u20 style="position:absolute; left:254px; top:93px; width:107px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u20_rtf><span style=" color:#996600; font-size:15px;"><b><%= link_to "Create Events", new_member_session_path, :method => :get %></b></span></DIV></DIV>
<DIV id=u20ann style="font-size:1px; position:absolute; left:352px; top:89px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u21 style="position:absolute; left:137px; top:92px; width:112px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u21_rtf><span style=" color:#996600; font-size:15px;"><b><%= link_to "Organisations", home_orgshow_path, :method => :get %></b></span></DIV></DIV>
<DIV id=u21ann style="font-size:1px; position:absolute; left:240px; top:88px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u22 style="position:absolute; left:600px; top:95px; width:68px; height:16px; font-size:20px; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u22_rtf><span style=" color:#434343; font-size:20px;"><%= link_to "Logout", destroy_member_session_path, :method => :delete %></span></DIV></DIV>
<DIV id=u22ann style="font-size:1px; position:absolute; left:967px; top:4px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u23 style="position:absolute; left:500px; top:95px; width:68px; height:16px;font-size:18px ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u23_rtf><%= link_to "Register", new_member_registration_path, :method => :get %><b></b></span></DIV></DIV>
<DIV id=u23ann style="font-size:5px; position:absolute; left:920px; top:4px; width:1px; height:1px; overflow:visible"></DIV>


<IMG id=u26 src="Resources/transparent.gif" style="position:absolute; left:120.5px; top:92px; width:2px; height:15px">

<span style="position:absolute; left:62px; top:92px; width:5px; height:18px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u27.png',sizingMethod='scale');
"><img style="width:5px; height:18px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u27.png" border="0" alt=""></span>

<IMG id=u27 src="Resources/transparent.gif" style="position:absolute; left:61.5px; top:92px; width:2px; height:15px">

<span style="position:absolute; left:243px; top:93px; width:5px; height:18px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u28.png',sizingMethod='scale');
"><img style="width:5px; height:18px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u28.png" border="0" alt=""></span>

<IMG id=u28 src="Resources/transparent.gif" style="position:absolute; left:242.5px; top:93px; width:2px; height:15px">

<span style="position:absolute; left:366px; top:92px; width:5px; height:18px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u29.png',sizingMethod='scale');
"><img style="width:5px; height:18px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u29.png" border="0" alt=""></span>

<span style="position:absolute; left:-3px; top:-3px; width:989px; height:47px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u16.png',sizingMethod='scale');
"></span>

</DIV>

<INPUT id=u30  type=text value="" style="position:absolute; left:738px; top:90px; width:152px; height:23px; ; background-color:#FFFFFF; text-align: left ; font-family:'Arial'; font-size: 13px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   >

<span style="position:absolute; left:0px; top:1004px; width:983px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Home_files/u31.png',sizingMethod='scale');
"><img style="width:983px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u31.png" border="0" alt=""></span>














